<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Manager</title>
<% include ../partials/header.ejs %>
<script src="/js/app.js"></script>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <ol class="container breadcrumb-main breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li class="active">Event Detail</li>
    </ol>
    <div class="content container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2 id="page-title"><%= event.name %></h2>
                <div>
                    <span id="event-start-date"><%= event.startFullDateFormatted %></span>
                    <div id="event-start-time">
                        <%= event.startTimeFormatted %>
                    </div>
                </div>
                <% if (event.descriptionHtml) { %>
                    <div id="event-description" class="description">
                        <%- event.descriptionHtml %>
                    </div>
                <% } %>
                <div>
                    <h3>Attending</h3>
                    <div id="event-registrations-container"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div id="rsvp-container" class="rsvp-container"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div id="feed-container"></div>
            </div>
        </div>
    </div>
<script>

(function() {
    var sessionId = '<%- sessionId %>';
    var eventData = <%- JSON.stringify(event) %>;
    var eventStore = new EventStore(sessionId);
    var registrationStore = new RegistrationStore(sessionId);
    var eventFeedItemStore = new EventFeedItemStore(sessionId);
    var page = new EventViewPage(eventStore, registrationStore, eventFeedItemStore, eventData);
    page.init();
})();

</script>
</body>
</html>