<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Manager</title>
<% include ../partials/header.ejs %>
<script src="/js/app.js"></script>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <ol class="container breadcrumb-main breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li class="active">Event Detail</li>
    </ol>
    <div class="content container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2 id="page-title"><%= event.name %></h2>
                <div>
                    <span id="event-start-date"><%= event.startFullDateFormatted %></span>
                    <div id="event-start-time">
                        <%= event.startTimeFormatted %>
                    </div>
                </div>
                <% if (event.descriptionHtml) { %>
                    <div id="event-description" class="description">
                        <%- event.descriptionHtml %>
                    </div>
                <% } %>
                <div>
                    <h3>Attending</h3>
                    <div id="event-registrations-container"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="rsvp-container">
                    <div id="attending_question" class="<%= event.myRegistration ? 'hidden' : 'show' %>">
                        <h2>Will you attend?</h2>
                        <a href="#" id="attend_yes" class="btn btn-default" role="button">Yes</a>
                        <a href="#" id="attend_no" class="btn btn-default" role="button">No</a>
                    </div>
                    <div id="attending_confirmed" class="<%= event.myRegistration ? 'show' : 'hidden' %>">
                        <h2>Your RSVP</h2>
                        <div id="attending_confirmed_yes" class="<%= event.myRegistration && event.myRegistration.attending ? 'show' : 'hidden' %>">Yes</div>
                        <div id="attending_confirmed_no" class="<%= event.myRegistration && event.myRegistration.attending ? 'hidden' : 'show' %>">No</div>
                        <div style="font-size: 0.9em; padding-top: 1em;"><a href="#" id="attending_change">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

(function() {
    var sessionId = '<%- sessionId %>';
    var eventData = <%- JSON.stringify(event) %>;
    var eventStore = new EventStore(sessionId);
    var registrationStore = new RegistrationStore(sessionId);
    var page = new EventViewPage(eventStore, registrationStore, eventData);
    page.init();
})();

</script>
</body>
</html>