<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Manager</title>
<% include ../partials/header.ejs %>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2 id="page-title"><%= event.name %></h2>
                <div>
                    <span id="event-start-date"><%= event.startFullDateFormatted %></span>
                    <div id="event-start-time">
                        <%= event.startTimeFormatted %>
                    </div>
                </div>
                <% if (event.descriptionHtml) { %>
                    <div id="event-description" class="description">
                        <%- event.descriptionHtml %>
                    </div>
                <% } %>
                <div>
                    <h3>Attending</h3>
                    <div id="event-registrations-container">
                        <% if (registrations.length > 0) { %>
                            <% registrations.forEach(function(registration) { %>
                                <div>
                                    <%= registration.user ? registration.user.name : '' %>
                                </div>
                            <% }) %>
                        <% } else { %>
                            No attendees yet.
                        <% } %>
                    </div>
                    <% if (totalRegistrations > 0) { %>
                        <div><a href="/events/<%= event.id %>/registrations">View All <%= totalRegistrations %> Registrations</a></div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rsvp-container">
                    <div id="attending_question" class="<%= hasRegistration ? 'hidden' : 'show' %>">
                        <h2>Will you attend?</h2>
                        <a href="#" id="attend_yes" class="btn btn-default" role="button">Yes</a>
                        <a href="#" id="attend_no" class="btn btn-default" role="button">No</a>
                    </div>
                    <div id="attending_confirmed" class="<%= hasRegistration ? 'show' : 'hidden' %>">
                        <h2>Your RSVP</h2>
                        <div id="attending_confirmed_yes" class="<%= myRegistration && myRegistration.attending ? 'show' : 'hidden' %>">Yes</div>
                        <div id="attending_confirmed_no" class="<%= myRegistration && myRegistration.attending ? 'hidden' : 'show' %>">No</div>
                        <div style="font-size: 0.9em; padding-top: 1em;"><a href="#" id="attending_change">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

var eventData = {
    myRegistration: <%- event && event.myRegistration ? JSON.stringify(event.myRegistration) : "null" %>
}
var state = {
    showRsvpForm: !eventData.myRegistration
};
function updateView() {
    if (state.showRsvpForm) {
        $('#attending_question').addClass('show').removeClass('hidden');
        $('#attending_confirmed').addClass('hidden').removeClass('show');
    } else {
        $('#attending_question').addClass('hidden').removeClass('show');
        $('#attending_confirmed').addClass('show').removeClass('hidden');
    }
    
    if (eventData.myRegistration && eventData.myRegistration.attending) {
        $('#attending_confirmed_yes').addClass('show').removeClass('hidden');
        $('#attending_confirmed_no').addClass('hidden').removeClass('show');
        $('#attend_yes').addClass('btn-success');
        $('#attend_no').removeClass('btn-success');
    } else {
        $('#attending_confirmed_yes').addClass('hidden').removeClass('show');
        $('#attending_confirmed_no').addClass('show').removeClass('hidden');
        $('#attend_yes').removeClass('btn-success');
        $('#attend_no').addClass('btn-success');
    }
    
}
function sendRegistrationAndRender(attending) {
    if (!eventData.myRegistration) {
        // if no registration yet, create one
        $.ajax('/services/registrations', {
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    eventId: <%= event.id %>,
                    attending: attending
                })
            })
            .done(function(data, status, xhr) {
                if (xhr.status === 200) {
                    eventData.myRegistration = data;
                    state.showRsvpForm = false;
                    updateView();
                } else {
                    alert('Registration failed. Please try again');
                    console.log(data);
                }
            })
            .fail(function(xhr, status, err) {
                alert('Registration failed. Please try again');
                console.log(arguments);
            });
    } else {
        $.ajax('/services/registrations/' + eventData.myRegistration.id, {
                method: 'PATCH',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    attending: attending
                })
            })
            .done(function(data, status, xhr) {
                if (xhr.status === 200) {
                    eventData.myRegistration.attending = attending;
                    state.showRsvpForm = false;
                    updateView();
                } else {
                    alert('Registration failed. Please try again');
                    console.log(data);
                }
            })
            .fail(function(xhr, status, err) {
                alert('Registration failed. Please try again');
                console.log(arguments);
            });
    }
}

$(document).on('click', 'a#attend_yes', function(e) {
    e.preventDefault();
    sendRegistrationAndRender(true);
});
$(document).on('click', 'a#attend_no', function(e) {
    e.preventDefault();
    sendRegistrationAndRender(false);
});
$(document).on('click', 'a#attending_change', function(e) {
    e.preventDefault();
    state.showRsvpForm = true;
    updateView();
})

</script>
</body>
</html>