<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Manager</title>
<% include ../partials/header.ejs %>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2><%= event.name %></h2>
                <div>
                    <%= event.startFullDateFormatted %> 
                    <div>
                        <%= event.startTimeFormatted %>
                    </div>
                </div>
                <% if (event.descriptionHtml) { %>
                    <div class="description">
                        <%- event.descriptionHtml %>
                    </div>
                <% } %>
            </div>
            <div class="col-md-4">
                <div class="rsvp-container">
                    <div id="attending_question" class="<%= hasRegistration ? 'hidden' : 'show' %>">
                        <h2>Will you attend?</h2>
                        <a href="#" id="attend_yes" class="btn btn-default" role="button">Yes</a>
                        <a href="#" id="attend_no" class="btn btn-default" role="button">No</a>
                    </div>
                    <div id="attending_confirmed" class="<%= hasRegistration ? 'show' : 'hidden' %>">
                        <h2>Your RSVP</h2>
                        <div id="attending_confirmed_yes" class="<%= myRegistration && myRegistration.attending ? 'show' : 'hidden' %>">Yes</div>
                        <div id="attending_confirmed_no" class="<%= myRegistration && myRegistration.attending ? 'hidden' : 'show' %>">No</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

function sendRegistrationAndRender(attending) {
    $.ajax('/services/registrations', {
        method: 'POST',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({
            eventId: <%= event.id %>,
            attending: attending
        })
    })
    .done(function(data, status, xhr) {
        if (xhr.status === 200) {
            $('#attending_question').addClass('hidden').removeClass('show');
            $('#attending_confirmed').addClass('show').removeClass('hidden');
            if (attending) {
                $('#attending_confirmed_yes').addClass('show').removeClass('hidden');
                $('#attending_confirmed_no').addClass('hidden').removeClass('show');
            } else {
                $('#attending_confirmed_yes').addClass('hidden').removeClass('show');
                $('#attending_confirmed_no').addClass('show').removeClass('hidden');
            }
        } else {
            alert('Registration failed. Please try again');
            console.log(data);
        }
    })
    .fail(function(xhr, status, err) {
        alert('Registration failed. Please try again');
        console.log(arguments);
    });
}

$(document).on('click', 'a#attend_yes', function(e) {
    e.preventDefault();
    sendRegistrationAndRender(true);
});
$(document).on('click', 'a#attend_no', function(e) {
    e.preventDefault();
    sendRegistrationAndRender(false);
});

</script>
</body>
</html>