<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Manager</title>
<% include ../partials/header.ejs %>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2><%= event.name %></h2>
                <div>
                    <%= event.startFullDateFormatted %> 
                    <div>
                        <%= event.startTimeFormatted %>
                    </div>
                </div>
                <% if (event.descriptionHtml) { %>
                    <div class="description">
                        <%- event.descriptionHtml %>
                    </div>
                <% } %>
            </div>
            <div class="col-md-4">
                <div class="rsvp-container">
                    <div id="attending_question" class="<%= hasRegistration ? 'hidden' : 'show' %>">
                        <h2>Will you attend?</h2>
                        <a href="#" id="attend_yes" class="btn btn-default" role="button">Yes</a>
                    </div>
                    <div id="attending_confirmed" class="<%= hasRegistration ? 'show' : 'hidden' %>">
                        <h2>Your RSVP</h2>
                        <div>Attending</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

$(document).on('click', 'a#attend_yes', function(e) {
    e.preventDefault();

    $.ajax('/services/registrations', {
        method: 'POST',
        dataType: 'json',
        data: {
            eventId: <%= event.id %>
        }
    })
    .done(function(data, status, xhr) {
        if (xhr.status === 200) {
            $('#attending_question').addClass('hidden').removeClass('show');
            $('#attending_confirmed').addClass('show').removeClass('hidden');
        } else {
            alert('Registration failed. Please try again');
            console.log(data);
        }
    })
    .fail(function(xhr, status, err) {
        alert('Registration failed. Please try again');
        console.log(arguments);
    });
});

</script>
</body>
</html>